<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show My Tasks</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Tasks</h1>
                {% if tasks.exists %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>Due Date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        <tbdoy>
                        {% for item in tasks.all %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.start_date }}</td>
                                <td>{{ item.due_date }}</td>
                                <td>{{ item.is_completed|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                        </tbdoy>
                    </table>
                {% else %}
                    <p>You have no tasks</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>
